body {
  font: 14px sans-serif;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: skyblue;
}

.x.axis path {
  display: none;
}

svg {
  padding: 10px 0px 0px 200px;

}
